.portfolio{
    align-items: center;
    justify-content: center;
}
.text-gray{
    color: #7d7d7d;
}
.my-site-img{
    width: 500px;
}
.sites{
    width: 100%;
}
.my-site{
    width: 50%;
}
.my-site-text{
    width: 60%;
}
.btn-source{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.source{
    margin: 0 10px 0 0;
}
.display-flex{
    display: flex;
}
.justify{
    margin: 0 10px;
}
@media (min-width: 320px) and (max-width: 480px) {
    .sites, .flex-row, .flex-row-reverse{
        flex-direction: column !important;
    }
    .my-site > img{
        width: 90vw;
    }
}
@media (min-width: 481px) and (max-width: 576px){
    .sites, .flex-row, .flex-row-reverse{
        flex-direction: column !important;
    }
    .my-site > img{
        width: 90vw;
    }
}
@media (min-width: 577px) and (max-width: 768px){
    .my-site > img{
        width: 100%;
    }
}
@media (min-width: 769px) and (max-width: 1024px){
    .my-site > img{
        width: 100%;
    }
}