@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
*{
  font-family: Karla;
}
h1, h2, h3, h4, h5, h6{
  font-weight: bolder;
}
.showcase{
  background: url('./components/Home/Showcase/img/wallpaper.jpg') no-repeat center center/cover;
  color: #fff;
  height: 100vh;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  
}
.showcase-content{
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 0 2rem;
  /* Overlay */
  position: absolute;
  top: 0;
  left:0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.7);
}
.what{
  padding-top: 20px;
  text-align: center;
}
.hobby{
  padding: 20px 11%;
  color: #000;
}

::-webkit-scrollbar{
  width: 10px;
}
::-webkit-scrollbar-track{
  background-color: rgba(0,0,0,1)
}
::-webkit-scrollbar-thumb {
  background: #fff;
  border-radius: 5px;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: #E8EDF1;
  transition: ease .3s background-color;
}